
<footer>
    <div class="footer-description">
        
        <a href="https://www.linkedin.com/in/lusilva65/"><img src="/linkedin.png" style="width:42px;height:42px;"></a>
        <a href="https://www.youtube.com/channel/UCzMLw2ojb5AyfrUUPlTqu-Q"><img src="/youtube.png" style="width:42px;height:42px;"></a>
        <a href="https://twitter.com/Sparrow206"><img src="/twitter.png" style="width:42px;height:42px;"></a>
        <a href="https://github.com/Sparrow20"><img src="/github.png" style="width:42px;height:42px;"></a>
    </div>
</footer>


<!-- 
LinkedIn
Twitter
Youtube 
git hub-->