<header>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J07R0PLK9T"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-J07R0PLK9T');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/png" href="/site/favicon.png">
    <div class="site-name"><h1> {{ site.title }}</h1></div>
    <div class="logo"><img src="/site/sparrow2.png"></div>
    <nav>
        <div class="nav">
                <div class="nav-item">
                    <a href="/site/">Home</a>
                    <a href="/site/about">About</a>
                <div class="dropdown"> <a href="/site/write-ups">Write-ups</a>
                    <div class="dropdown-content">
                        <a href="/site/tryhackme">TryHackMe</a>
                        <a href="/site/hackthebox">HackTheBox</a>
                    </div>
                </div>
                    <a href="/site/blog">Blog</a>
                    <a href="/site/projects">Projects</a>
                </div>
            </div>
    </nav>
    <div class='logos'>
        <a href="https://www.linkedin.com/in/lusilva65/"><img src="/site/linkedin.png" style="width:42px;height:42px;"></a>
        <a href="https://www.youtube.com/channel/UCzMLw2ojb5AyfrUUPlTqu-Q"><img src="/site/youtube.png" style="width:42px;height:42px;"></a>
        <a href="https://twitter.com/Sparrow206"><img src="/site/twitter.png" style="width:42px;height:42px;"></a>
        <a href="https://github.com/Sparrow20"><img src="/site/github.png" style="width:42px;height:42px;"></a>
    </div>
</header>